/* Main bar */
.bar {
    background-color: $base0;
    color: $base5;
    font-family: 'JetBrainsMono Nerd Font Mono, monospace';
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
}

/* Sections
.left, .center, .right {}
*/

/* Workspaces */
.workspaces {
    color: $base3;
    font-weight: bold;

    /* Active workspace */
    button.focused {
        color: $base5;
    }

    /* Hovered workspace */
    button:hover {
        color: $base5;
    }
}

/* Time */
.date {
    font-weight: bold;
}

/* Volume states */
.volume {
    font-weight: bold;

    .muted .icon {
        color: $base8; /* red */
    }
}

/* Battery states */
.battery {
    font-weight: bold;

    .charging .icon {
        color: $base11; /* green */
    }

    .low .icon {
        color: $base8; /* red */
    }

    .medium .icon {
        color: $base10; /* yellow */
    }

    .high .icon {
        color: $base11; /* green */
    }
}
