// Main bar
.bar {
	background-color: $base00;
	color: $base05;
	font-size: large;
	padding: 0 1rem;
	border-radius: 12px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

	> tooltip {
		background-color: $base00;
		color: $base05;
	}

	> scale {
		// Background
		trough {
			background-color: $base02;
			min-height: 5px;
			min-width: 100px;
			border-radius: 10px;
			margin: 0 20px 0 10px;

			// Foreground slider
			highlight {
				background-color: $base05;
				border-radius: 10px;
			}
		}

		&.warning trough highlight {
			background-color: $base10;
			color: #1a1b26;
		}

		&.error trough highlight {
			background-color: $base08;
			color: #1a1b26;
		}
	}
}

// Desktop styles
.workspaces {
	color: $base03;
	font-size: xx-large;

	button.focused {
		color: $base05;
	}

	button:hover {
		color: $base05;
	}
}

// Icon styles
.icon {
	font-size: xx-large;

	&.connected {
		color: $base05;
	}

	&.disconnected,
	&.critical {
		color: $base03;
	}
}

// Battery icon
.battery > .icon {
	font-size: large;
}

// Speakers scale trough
.speakers scale trough {
	min-height: 10px;
	min-width: 40px;
}
