// Main bar
.bar {
	background-color: $base00;
	color: $base05;
	font-size: large;
	padding: 0 1rem;
	border-radius: 12px;
	// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

// Desktop styles
.workspaces {
	color: $base03;
	font-size: xx-large;

	button.focused {
		color: $base05;
	}

	button:hover {
		color: $base05;
	}
}

// Icon styles
.icon {
	font-size: xx-large;

	&.connected {
		color: $base05;
	}

	&.disconnected,
	&.critical {
		color: $base03;
	}
}

// Battery icon
.battery > .icon {
	font-size: large;
}
